<div class='row color bg'>
    <div class='col-md-16 mb-5' id="img-bg">
        <h4 class='text-center'> Entre em contato com a gente!</h4>
    </div>
</div>

<div class='row d-flex align-items-center bg color'>
    <div class='col-md-6'>
        <form>
            <div class="form-group">
                <label for="exampleFormControlInput1">Endereço de email:</label>
                <input type="email" class="form-control" id="email" placeholder="nome@exemplo.com">
                <div id="txtEmail"></div>
            </div>
            <div class="form-group">
                <label for="exampleFormControlTextarea1">O que você quer saber?</label>
                <textarea class="form-control" id="assunto" rows="3"></textarea>
                <div id="txtAssunto"></div>
            </div>
            <div class="form-group">
                <button type="button" class="btn btn-outline-dark">Enviar</button>
            </div>
        </form>
    </div>

    <div class='col-md-6'>
        <div class="card d-flex align-items-center" style="width: 35rem;">
            <div class="card-body ">
                <h5 class="card-title ">Ligue para nós</h5>
                <h6 class="card-subtitle mb-2 text-muted">(81) 91231-4563</h6>
                <hr>
                <h5 class="card-title">Localização</h5>
                <h6 class="card-subtitle mb-2 text-muted">Praça do Marco Zero</h6>
                <hr>
                <h5 class="card-title">Nossos horários:</h5>
                <h6 class="card-subtitle mb-2 text-muted">Seg-Sex 8h-17h</h6>
            </div>
        </div>
    </div>

</div>