.bg {

  background-color: #92d2d6;
  background-repeat: no-repeat;
  min-height: 90px;

}




#bg-img{
  background-image: url("https://i.imgur.com/G0VkGiT.png");
  min-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 110vh;
  height: 100px;
  width: 100px;

}

a {
  color: var(--violeta) !important;
}

a:hover {
  color: var(--violeta) !important;
}


.form-group .form-control {
  padding-left: 2.375rem;
}

.form-control-icon {
  position: absolute;
  z-index: 1;
  display: block;
  width: 2.5rem;
  height: 2.5rem;
  line-height: 2.370rem;
  text-align: center;
  pointer-events: none;
}

.form-control-icon {
  color:  #619092;
}