<div class="container-fluid bg color">

    <div class="row d-flex align-items-center ">

        <div class="col-md-12 background-opacity-30" id="img-foto">

            <div class="row d-flex justify-content-center" (keydown.enter)="entrar()">

                <div class="col-md-6 ">
                    <form>
                        <h1 class="text-center mt-3 ">Entrar</h1>

                        <div class="form-group">
                            <label for="usuario">E-mail</label>
                            <input [(ngModel)]='usuarioLogin.usuario' type="text" class="form-control" name="usuario"
                                id="usuario" placeholder="Digite seu Email">
                        </div>



                        <div class="form-group">
                            <label for="senha">Senha</label>
                            <input [(ngModel)]='usuarioLogin.senha' type="password" class="form-control" name="senha"
                                id="senha" placeholder="Digite sua senha">
                        </div>

                        <div class="d-flex justify-content-center">
                            <button type="submit" class="btn btn-success mt-2" (click)="entrar()">Entrar</button>
                        </div>

                        <hr class="mt-5 mb-5">

                        <p class="text-center text-light ">Quer apoiar a causa da ODS 6?
                            <a routerLink="/cadastrar"> Cadastre-se Aqui!</a>
                        </p>
                    </form>
                </div>
            </div>

        </div>


    </div>

</div>