#bg-img {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vh;
  }
  
  .fundo {
    background: url(https://i.imgur.com/oWZDstF.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    height: 114vh;
    width: 200vh;
  
    
  }
  
  .form-area {
    width: 50px;
    height: 720px;
    background-color: rgba(228, 230, 236, 0.137);
    padding-left: 40px;
    border-radius: 30px;
  
  }
  
  .margem-bemvindo {
    margin-top: 610px;
   margin-left: auto;
   color: rgba(250, 246, 246, 0.801);
    
  }
  
  
  .form-control {
    background-color: #969ba18a ;
    color: var(--color-black);
    box-shadow: none;
    font-size: 10pt;
    opacity: 0.9;
  }
  
  
  .but-entrar {
    display: flex;
    border-radius: 10px;
    border: 1px solid var(--color-yellow);
    padding-left: 130px;
    padding-right: 130px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #E48700;
  }
  .f-button {
    font-family: "Red Hat Display", sans-serif;
    color: rgb(255, 255, 255);
    
  
  }
  .textbox {
    color: rgb(250, 246, 246);
  }
  .text-color {
    color: rgb(232, 233, 241);
    text-decoration:wavy
  }
  
  .margincaixa{
      margin-left: 350px;
  }
  
  input::placeholder {
    font-weight: bold;
    opacity: .5;
    color: white;
  }

