<!-- ======= Header ======= -->
<header id="header">
  <div class="container-fluid">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">Eco Ponte</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0 navbar-nav-scroll">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/inicio']">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/entrar']">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/cadastrar']">Cadastro</a>
          </li>
        </ul>
      </div>
    </nav>
    <!-- .nav-menu -->


<!-- ======= Hero Section ======= -->
<section id="hero">
  <div class="hero-container"></div>
</section><!-- #hero -->

<main id="main">

  <!-- ======= Why Us Section ======= -->
  <section id="why-us" class="why-us section-bg">
    <div class="container">

      <div class="row">
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
          <div class="card">
            <img src="/assets/img/bg6.jpg" class="card-img-top" alt="...">
            <div class="card-icon">
              <i class="bx bx-book-reader"></i>
            </div>
            <div class="card-body">
              <h5 class="card-title"><a href="">Nossa Missão</a></h5>
              <p class="card-text">Servir de ponte entre organizações não governamentais (ONGs) que atuam com sustentabilidade e a sociedade, e compartilhar informações educativas com a comunidade sobre a importância de levar uma vida sustentável.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
          <div class="card">
            <img src="assets/img/bg3.jpg" class="card-img-top" alt="...">
            <div class="card-icon">
              <i class="bx bx-calendar-edit"></i>
            </div>
            <div class="card-body">
              <h5 class="card-title"><a href="">Nosso Plano</a></h5>
              <p class="card-text">Criar um catálogo de ONGs que os usuarios do site consigam acessar com facilidade, tanto as informações
                das ONGs quanto o que elas estão precisando naquele momento, e compartilhar textos educativos acerca dos temas: água potável e saneamento. </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
          <div class="card">
            <img src="assets/img/bg1.jpg" class="card-img-top" alt="...">
            <div class="card-icon">
              <i class="bx bx-landscape"></i>
            </div>
            <div class="card-body">
              <h5 class="card-title"><a href="">Nossos Valores</a></h5>
              <p class="card-text">Ética, qualidade, inovação e cooperação. </p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section><!-- End Why Us Section -->

  <!-- ======= Contact Us Section ======= -->
  <section id="contact" class="contact section-bg">
    <div class="container">

      <div class="section-title">
        <h2>Você representa uma ONG? Fala com a gente!</h2>
      </div>

      <div class="row justify-content-center">

        <div class="col-lg-3 col-md-5 mb-5 mb-md-0">
          <div class="info">

            <div class="email">
              <i class="bx bx-envelope"></i>
              <p>ecoponte@gmail.com</p>
            </div>

            <div class="phone">
              <i class="bx bx-phone-call"></i>
              <p>+55 819 9999 9999</p>
            </div>
          </div>

          <div class="social-links">
            <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
            <a href="#" class="github"><i class="bx bxl-github"></i></a>
            <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
            <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
          </div>

        </div>

        <div class="col-lg-5 col-md-7">
          <form action="forms/contact.php" method="post" role="form" class="php-email-form">
            <div class="form-group">
              <input type="text" name="name" class="form-control" id="name" placeholder="Nome" required>
            </div>
            <div class="form-group mt-3">
              <input type="email" class="form-control" name="email" id="email" placeholder="Email" required>
            </div>
            <div class="form-group mt-3">
              <input type="text" class="form-control" name="subject" id="subject" placeholder="Nome da ONG" required>
            </div>
            <div class="form-group mt-3">
              <textarea class="form-control" name="message" rows="5" placeholder="Mensagem" required></textarea>
            </div>
            <div class="my-3">
              <div class="loading">Loading</div>
              <div class="error-message"></div>
              <div class="sent-message">Your message has been sent. Thank you!</div>
            </div>
            <div class="text-center"><button type="submit">Enviar</button></div>
          </form>
        </div>

      </div>

    </div>
  </section><!-- End Contact Us Section -->

  <!--equipe-->
  <div class="section section-team text-center mt-5">
    <div class="container">
      <h2 class="title">Conheça nossa equipe</h2>
      <div class="team">
        <div class="row">
          <div class="col-md-4">
            <div class="team-player">
              <img src="https://i.imgur.com/YNHc5nS.jpg" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
              <h4 class="title">Beatriz Rochelly</h4>
              <a href="https://github.com/BeatrizRochelly" target="_blank" class="btn btn-icon btn-round mr-2"><i class="fa fa-github fa-lg" aria-hidden="true"></i></a>
              <a href="https://www.linkedin.com/in/beatriz-rochelly/" target="_blank" class="btn btn-icon btn-round"><i class="fa fa-linkedin fa-lg" aria-hidden="true"></i></a>
            </div>
          </div>
          <div class="col-md-4">
            <div class="team-player">
              <img src="https://i.imgur.com/BPImucT.jpg" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
              <h4 class="title">Bruna Carvalho</h4>
              <a href="https://github.com/brunacarvalho202" target="_blank" class="btn btn-icon btn-round mr-2"><i class="fa fa-github fa-lg" aria-hidden="true"></i></a>
              <a href="https://www.linkedin.com/in/bruna-carvalho-939664227/" target="_blank" class="btn btn-icon btn-round"><i class="fa fa-linkedin fa-lg" aria-hidden="true"></i></a>
            </div>
          </div>
          <div class="col-md-4">
            <div class="team-player">
              <img src="https://i.imgur.com/HSj90eP.jpg" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
              <h4 class="title">Danielly Nunes</h4>
              <a href="https://github.com/daniellynuness" target="_blank" class="btn btn-icon btn-round mr-2"><i class="fa fa-github fa-lg" aria-hidden="true"></i></a>
              <a href="https://www.linkedin.com/in/danielly-nunes-7a9105246/" target="_blank" class="btn btn-icon btn-round"><i class="fa fa-linkedin fa-lg" aria-hidden="true"></i></a>
            </div>
          </div>
          <div class="col-md-4">
            <div class="team-player">
              <img src="https://i.imgur.com/het8JUm.jpg" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised mt-3">
              <h4 class="title">Dislani Melo</h4>
              <a href="https://github.com/Dislani" target="_blank" class="btn btn-icon btn-round mr-2"><i class="fa fa-github fa-lg" aria-hidden="true"></i></a>
              <a href="https://www.linkedin.com/in/dislani-melo-b7b370212/" target="_blank" class="btn btn-icon btn-round"><i class="fa fa-linkedin fa-lg" aria-hidden="true"></i></a>
            </div>
          </div>
          <div class="col-md-4">
            <div class="team-player">
              <img src="https://i.imgur.com/tGAGnfy.jpg" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised mt-3">
              <h4 class="title">Paloma Freire</h4>
              <a href="https://github.com/Palomafreiire" target="_blank" class="btn btn-icon btn-round mr-2"><i class="fa fa-github fa-lg" aria-hidden="true"></i></a>
              <a href="https://www.linkedin.com/in/paloma-freire-68282b182/" target="_blank" class="btn btn-icon btn-round"><i class="fa fa-linkedin fa-lg" aria-hidden="true"></i></a>
            </div>
          </div>
          <div class="col-md-4">
            <div class="team-player">
              <img src="https://i.imgur.com/7s2eVEI.jpg" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised mt-3">
              <h4 class="title">Thayna Pacheco</h4>
              <a href="https://github.com/thaynapacheco" target="_blank" class="btn btn-icon btn-round mr-2"><i class="fa fa-github fa-lg" aria-hidden="true"></i></a>
              <a href="#pablo" target="_blank" class="btn btn-icon btn-round"><i class="fa fa-linkedin fa-lg" aria-hidden="true"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/equipe-->

</main><!-- End #main -->

<!-- ======= Footer ======= -->
<footer id="footer">
  <div class="container">
    <div class="copyright">
      &copy; Copyright <strong><span>Eco Ponte</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
      <!-- All the links in the footer should remain intact. -->
      <!-- You can delete the links only if you purchased the pro version. -->
      <!-- Licensing information: https://bootstrapmade.com/license/ -->
      <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/free-bootstrap-landing-page/ -->
      Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
    </div>
  </div>
</footer><!-- End #footer -->

<!-- Vendor JS Files -->
<script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="assets/vendor/php-email-form/validate.js"></script>

<!-- Template Main JS File -->
<script src="assets/js/main.js"></script>
