<!-- Navbar -->
<nav class="navbar navbar-expand-xl background-color: #34A0A4 fixed-top" color-on-scroll="400">
    <div class="navbar-translate">
        <a class="navbar-brand" rel="tooltip" title="Coded by EcoPonte®" data-placement="bottom" target="_blank">
          Eco Ponte
        </a>
      </div>
      <div class="collapse navbar-collapse justify-content-end" id="navigation" data-nav-image="../assets/img/blurred-image-1.jpg">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/entrar']">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/cadastrar']">Cadastro</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" rel="tooltip" title="Nos siga no Twitter" data-placement="bottom" href="https://twitter.com/" target="_blank">
            <i class="fa fa-twitter-square" aria-hidden="true"></i>
              <p class="d-lg-none d-xl-none">Twitter</p>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" rel="tooltip" title="Nos siga no Instagram" data-placement="bottom" href="https://www.instagram.com/" target="_blank">
            <i class="fa fa-instagram" aria-hidden="true"></i>
              <p class="d-lg-none d-xl-none">Instagram</p>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" rel="tooltip" title="Nos siga no LinkedIn" data-placement="bottom" href="https://www.linkedin.com/" target="_blank">
            <i class="fa fa-linkedin-square" aria-hidden="true"></i>
              <p class="d-lg-none d-xl-none">LinkedIn</p>
            </a>
          </li>
        </ul>
      </div>
  </nav>
  <!--/navbar-->
  <!--textos-->
  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item-center active foto mt-5">
            <img class="img-fluid rounded mx-auto d-block" src="assets/img/2.png" alt="Logo do projeto">
        </div>
    </div>
    <div class="section section-about-us mt-5">
      <div class="container">
        <div class="row">
          <div class="col-md-8 ml-auto mr-auto text-center mt-3">
            <h3 class="title">Quem somos nós?</h3>
            <p class="description">Este projeto tem como objetivo servir de ponte entre organizações não governamentais (ONGs) que atuam com sustentabilidade e a sociedade, também iremos compartilhar informações educativas com a comunidade sobre a importância de levar uma vida sustentável, e como podemos (e devemos) cobrar de nossos representantes políticos uma qualidade de vida mais digna.</p>  
        </div>
        </div>
        <div>
            <img src="https://i.imgur.com/8AbPmD1.png" class="img-fluid w-100" alt="pessoas se abraçando">
        </div>
        <div class="text-justify mt-4">
          <div class="row">
            <div class="col-md-6 image-container image-right">
              <h4>Saiba como VOCÊ pode fazer a diferença!</h4>
              <p>Para ajudar alguma ONG que está conosco nesse projeto, você não precisa fazer muito. A partir do momento em que você se cadastra em nosso site, como um usuario comum e compartilha as publicações, isso já é de grande ajuda! Enquanto colaborador você também pode se cadastrar como pessoa física e ajudar diretamente, participando das ações e oficinas que são frequentemente organizadas por elas.
              </p>
              <p>Porém, se você representa uma empresa, você também pode realizar seu cadastro como pessoa juridica e contrubuir financeiramente com as ONGs, incentivando a sustentabilidade corporativa e em troca, sua empresa ganha visibilidade em nossa plataforma!
              </p>
            </div>
            <!--/textos-->
            <!--contato ong-->
            <div class="text-center col-md-6 image-container image-left">
                <h4 class="title">Você representa uma ONG?</h4>
                <h4>Vem falar com a gente!</h4>
          <p class="description">Seu projeto é muito importante para nós.</p>
          <div class="row">
            <div class="col-lg-9 text-center ml-auto mr-auto">
              <div class="input-group input-lg">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fa fa-user" aria-hidden="true"></i>
                  </span>
                </div>
                <input type="text" class="form-control" placeholder="Nome completo">
              </div>
              <div class="input-group input-lg">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fa fa-envelope-square" aria-hidden="true"></i>
                  </span>
                </div>
                <input type="text" class="form-control" placeholder="Email">
              </div>
              <div class="textarea-container">
                <textarea class="form-control" name="name" rows="4" cols="80" placeholder="Escreva sua mensagem"></textarea>
              </div>
              <div class="send-button">
                <a href="" class="btn btn-round btn-block btn-lg mt-2">Enviar</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--/contato ong-->
    <!--equipe-->
    <div class="section section-team text-center mt-5">
        <div class="container">
          <h2 class="title">Conheça nossa equipe</h2>
          <div class="team">
            <div class="row">
              <div class="col-md-4">
                <div class="team-player">
                  <img src="https://i.imgur.com/YNHc5nS.jpg" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
                  <h4 class="title">Beatriz Rochelly</h4>
                  <a href="https://github.com/BeatrizRochelly" target="_blank" class="btn btn-icon btn-round mr-2"><i class="fa fa-github fa-lg" aria-hidden="true"></i></a>
                  <a href="https://www.linkedin.com/in/beatriz-rochelly/" target="_blank" class="btn btn-icon btn-round"><i class="fa fa-linkedin fa-lg" aria-hidden="true"></i></a>
                </div>
              </div>
              <div class="col-md-4">
                <div class="team-player">
                  <img src="https://i.imgur.com/BPImucT.jpg" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
                  <h4 class="title">Bruna Carvalho</h4>
                  <a href="https://github.com/brunacarvalho202" target="_blank" class="btn btn-icon btn-round mr-2"><i class="fa fa-github fa-lg" aria-hidden="true"></i></a>
                  <a href="https://www.linkedin.com/in/bruna-carvalho-939664227/" target="_blank" class="btn btn-icon btn-round"><i class="fa fa-linkedin fa-lg" aria-hidden="true"></i></a>
                </div>
              </div>
              <div class="col-md-4">
                <div class="team-player">
                  <img src="https://i.imgur.com/HSj90eP.jpg" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
                  <h4 class="title">Danielly Nunes</h4>
                  <a href="https://github.com/daniellynuness" target="_blank" class="btn btn-icon btn-round mr-2"><i class="fa fa-github fa-lg" aria-hidden="true"></i></a>
                  <a href="https://www.linkedin.com/in/danielly-nunes-7a9105246/" target="_blank" class="btn btn-icon btn-round"><i class="fa fa-linkedin fa-lg" aria-hidden="true"></i></a>
                </div>
              </div>
              <div class="col-md-4">
                <div class="team-player">
                  <img src="https://i.imgur.com/het8JUm.jpg" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised mt-3">
                  <h4 class="title">Dislani Melo</h4>
                  <a href="https://github.com/Dislani" target="_blank" class="btn btn-icon btn-round mr-2"><i class="fa fa-github fa-lg" aria-hidden="true"></i></a>
                  <a href="https://www.linkedin.com/in/dislani-melo-b7b370212/" target="_blank" class="btn btn-icon btn-round"><i class="fa fa-linkedin fa-lg" aria-hidden="true"></i></a>
                </div>
              </div>
              <div class="col-md-4">
                <div class="team-player">
                  <img src="https://i.imgur.com/tGAGnfy.jpg" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised mt-3">
                  <h4 class="title">Paloma Freire</h4>
                  <a href="https://github.com/Palomafreiire" target="_blank" class="btn btn-icon btn-round mr-2"><i class="fa fa-github fa-lg" aria-hidden="true"></i></a>
                  <a href="https://www.linkedin.com/in/paloma-freire-68282b182/" target="_blank" class="btn btn-icon btn-round"><i class="fa fa-linkedin fa-lg" aria-hidden="true"></i></a>
                </div>
              </div>
              <div class="col-md-4">
                <div class="team-player">
                  <img src="https://i.imgur.com/7s2eVEI.jpg" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised mt-3">
                  <h4 class="title">Thayna Pacheco</h4>
                  <a href="https://github.com/thaynapacheco" target="_blank" class="btn btn-icon btn-round mr-2"><i class="fa fa-github fa-lg" aria-hidden="true"></i></a>
                  <a href="#pablo" target="_blank" class="btn btn-icon btn-round"><i class="fa fa-linkedin fa-lg" aria-hidden="true"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--/equipe-->
      <!--footer-->